<div class="row">
    <h3 class="header">Create Hash</h3>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="normalValue">
                                <label for="normalValue">Value</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="hashOut" class="materialize-textarea" readonly></textarea>
                                <label for="hashOut">Hash</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field  col m6">
                            </div>
                            <div class="input-field  col m3">
                                <button class="btn waves-effect waves-light right" type="reset" name="action">
                                    Reset
                                </button>
                            </div>
                            <div class="input-field col m3">
                                <button class="btn waves-effect waves-light right" type="submit" name="action">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
